.circles {
  width: 330px;
  height: 350px;
  position: absolute;
  right: 0;
  transform: translate(-65%, -40%);
  border-radius: 9999px;
  background-color: #0075bf;
  box-shadow: 0 0 0 128px #024e7f, 0 0 0 256px #003658, 0 0 0 384px #021e31;
}
