.challengesTable {
  border: 1px solid #e0e0e0;
  table-layout: auto;
  width: 90%;
  margin: 2rem auto;

  tr {
    border-bottom: 1px solid #e0e0e0;

    th,
    td {
      padding: 10px;
    }
  }

  th {
    text-align: left;
  }
}
