.authSection {
  padding: 2rem;
  width: 90%;
  margin: 5rem auto;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow-2);
}

@media (min-width: 768px) {
  .authSection {
    margin: 10rem auto;
    padding: 4rem 4rem 2rem;
    width: 600px;
  }
}
