@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--foreground);
  background: var(--background);
}

.radix-themes {
  --cursor-button: pointer;
}

div,
span,
p {
  font-size: 1.6rem;
  line-height: normal;
}

a.disabled {
  color: gray;
  pointer-events: none;
}
