@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.radix-themes {
  --cursor-button: pointer;
}

:disabled {
  cursor: var(--cursor-disabled);
}

.rt-ScrollAreaViewport > * {
  width: inherit;
}
