.home-bg {
  background-color: var(--brand-bg-1);
  min-height: 100vh;
  padding: 32px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.primary-link {
  border: none;
  background-color: var(--brand-main-1);
  color: var(--brand-bg-2);
  padding: 8px 24px;
  border-radius: 32px;
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;

  &.large {
    font-size: 24px;
    padding: 16px 32px;
  }
}

.secondary-link {
  border: none;
  border: 1px solid var(--brand-main-1);
  color: var(--brand-main-1);
  padding: 8px 24px;
  border-radius: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.panel {
  padding: 8px;

  &.left {
    padding-right: 4px;
  }

  &.right {
    padding-left: 4px;
  }

  &.top {
    padding-bottom: 4px;
  }

  &.bottom {
    padding-top: 4px;
  }
}

.panel-layout {
  height: 100%;
  border-radius: 6px;
  background-color: var(--gray-1);
}
