.panel {
  padding: 8px;

  &.left {
    padding-right: 4px;
  }

  &.right {
    padding-left: 4px;
  }

  &.top {
    padding-bottom: 4px;
  }

  &.bottom {
    padding-top: 4px;
  }
}

.panel-layout {
  height: 100%;
  border-radius: 6px;
  background-color: var(--gray-1);
}
