.tab {
  padding: 1rem;
  font-weight: 600;
  user-select: none;

  &:focus {
    outline: 1px solid #fff;
  }

  &[data-selected] {
    border-bottom: 2px solid #007bff;
    color: #007bff;
  }

  &[data-hover] {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &[data-selected][data-hover] {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &[data-focus] {
    outline: 1px solid #fff;
  }
}

.tab-list {
  display: flex;
  gap: 1rem;
}

.tab-panels {
  height: calc(100% - 4rem);
}

.tab-panel {
  height: 100%;
  overflow-y: auto;
}
