.fileTabs {
  background-color: var(--gray-7);
  border-radius: 6px 6px 0 0;

  [role="tablist"] {
    display: flex;
    gap: 0.5rem;

    [role="tab"] {
      padding: 0.5rem;
      display: flex;
      border-radius: 6px 6px 0 0;
      background-color: var(--gray-1);
    }

    svg {
      cursor: pointer;
    }
  }
}
