input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
}

.form-field {
  display: flex;
  flex-direction: column;

  .error {
    text-align: left;
    padding: 0.25rem 1rem 0;
    font-size: 1.2rem;
  }
}
