.verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.testResultsWrapper {
  .testResults {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
