.outputWrapper {
  border: 1px solid #ccc;

  .title {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: capitalize;
    color: white;
    border-bottom: 1px solid lightgray;

    &[data-status="pass"] {
      background-color: green;
    }

    &[data-status="fail"] {
      background-color: brown;
    }
  }

  .details {
    padding: 1rem;
  }
}
