@use "@/ui/styles/form";
@use "@/ui/styles/button";
@use "@/ui/styles/tab";

.logo {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.error {
  color: red;
}

.resize-handle {
  border: 1px solid #ccc;
}

.panel {
  padding: 8px;

  &.left {
    padding-right: 4px;
  }

  &.right {
    padding-left: 4px;
  }

  &.top {
    padding-bottom: 4px;
  }

  &.bottom {
    padding-top: 4px;
  }
}

.panel-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 6px;
  background-color: white;
}
