@use "@/styles/form";
@use "@/styles/button";
@use "@/styles/tab";

.logo {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.error {
  color: red;
}

.resize-handle {
  border: 1px solid #ccc;
}
