.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  border-radius: 100px;
  font-size: 2rem;
  background: #00110a80;
  backdrop-filter: blur(24px);
  box-shadow: 0px 0px 16px 0px #f2fbf740;
}
