.main {
  width: min(768px, 90%);
  margin: 2rem auto;

  .updateForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    label {
      font-weight: 500;
    }

    .submission {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button:only-child {
        margin-left: auto;
      }
    }
  }
}
