.bodyWrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: lightgray;
}

.bodyContent {
  height: calc(100% - 4rem);
}

.challengeWrapper {
  height: 100%;
  display: flex;
}
